html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.green {
  color: white;
  background-color: #4CAF50;
}
.blue {
  color: white;
  background-color: #008CBA; 
}
.yellow {
  color: black;
  background-color: #ffc107
}
.black {
  color: white;
  background-color: #565656;
}
button {
  border: 1px solid whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
button, .green:hover {
  background-color: #4Cc050;
}
button, .blue:hover {
  background-color: #009DBA;
}
button, .yellow:hover {
  background-color: #fff207;
}
button, .black:hover {
  background-color: #566756;
}
label {
  font: 1rem 'Fira Sans', sans-serif;
  color: white;
  margin: .4rem;
}
input {
  margin: .4rem;
}
#p5Div, #threejsDiv {
  position: absolute;
  top: 0;
  left: 0;
}
#p5Div {
  z-index: -2;
}
#threejsDiv {
  z-index: -1;
}